@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto'
}


.App-link {
  color: #61dafb;
}

.beers, .random-beer, .new-beer {
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 90vh;
  color: white;
  font-size: 5rem;
  text-align: left;
  font-weight: 900;
  margin-bottom: 10px;
  text-shadow: 2px 2px rgb(49, 51, 53);
  
}

.beers {
  background-image: url('assets/beers.png');
}

.random-beer {
  background-image: url('assets/random-beer.png');
}

.new-beer {
  background-image: url('assets/new-beer.png');
}

.alink > a, .alink > a:hover {
  text-decoration: none;
  color: white;
}

.header {
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 90vh;
  color: white;
  background-color: rgb(0, 196, 255);
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: 10px;
}

.beers-list {
  width: 90vh;
  margin-left: auto;
  margin-right: auto;
}

.beers-items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;;
  border-bottom: 1px solid grey;
}

.name > a, .name > a:hover {
  text-decoration: none;
}

.tagline {
  color: gray;
}
